.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 1px 0 0 8px;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    &.openOption {
        width: 100%;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .person-title {}

        .icon {
            width: 30px;
            height: 30px;
            color: var(--primary);
        }

        &.minimize {
            width: calc(100% - 340px);
        }
    }
}

.wrapper-body {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: end;

    // &.minimize {
    //     width: calc(100% - 340px);
    // }
}

.body {
    height: 80%;
    padding: 0 14px;
    display: flex;

    &.minimize {
        width: calc(100% - 340px);
    }

    .wrapper-message-box {
        width: 100%;
        display: flex;
        overflow-y: auto;
        height: 100%;
        flex-direction: column-reverse;
        justify-content: end;

        .messages {
            // width: calc(100% - 340px);
            display: flex;
            flex-direction: column;
            justify-content: end;

            &.minimize {
                // width: calc(100% - 340px);
                // padding-right: 340px;
            }
        }

        .messageItem {
            margin-top: 4px;
            display: flex;
            align-items: center;
            margin-left: 0 !important;

            &.noAvatar {
                margin-left: 36px !important;
            }

            &.self {
                justify-content: end;

                .message {
                    background-color: var(--primary);

                    &.start {
                        border-radius: 30px 30px 4px 30px
                    }

                    &.between {
                        border-radius: 30px 4px 4px 30px;
                    }

                    &.end {
                        border-radius: 30px 4px 30px 30px;
                    }

                    &.light {
                        color: #fff;
                        background-color: var(--primary);
                    }
                }
            }

            .imgUser-chat {
                height: 28px;
                width: 28px;
                border-radius: 999px;
                margin-right: 8px;
            }

            .message {
                border-radius: 999px;
                padding: 8px 12px;
                font-size: 1.6rem;
                background-color: #333;

                &.start {
                    border-radius: 30px 30px 30px 4px
                }

                &.between {
                    border-radius: 4px 30px 30px 4px;
                }

                &.end {
                    border-radius: 4px 30px 30px 30px;
                }

                &.light {
                    color: #050505;
                    background-color: var(--border-color-l);
                }
            }
        }
    }

}

.footer {
    margin-top: 30px;

    &.minimize {
        width: calc(100% - 340px);
        // margin-left: 294px;
    }
}

.option {
    border-left: 1px solid var(--border-color);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    width: 340px;
    margin-left: -340px;

    &.light {
        border-color: var(--border-color-l);
    }

    .img {
        margin: 16px 0 12px;
        width: 80px;
        height: 80px;
        border-radius: 999px;
    }

    .box-name {
        display: flex;
        flex-direction: column;
        align-items: center;

        .des {
            font-size: 1.2rem;
            color: var(--text-grey);
            margin-top: 6px;
        }
    }

    .quick-item {
        padding-top: 20px;
        width: 100%;
        display: flex;
        font-size: 1.3rem;
        justify-content: space-around;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                padding-top: 8px;
            }
        }
    }

    .roomOption {
        width: 100%;
        padding: 20px 8px 0;

        .subMenu {
            height: 0;
            transition: var(--duration);
            transform: scaleY(0);
            transform-origin: 50% 0;
            opacity: 0;

            &.open {
                height: 100%;
                transform: scaleY(1);
                opacity: 1;
            }
        }
    }
}

.message-wrapper {
    padding: 12px 0;
}

.tippy-message {
    background-color: #fff;
    color: #000;
    padding: 6px 10px;
    border-radius: 10px;
    opacity: 0.7;
    font-size: 1.4rem;
    box-shadow: 0 2px 6px #333;

    &.light {
        background-color: #000;
        color: #fff;
    }
}

.list-users {
    width: 100%;
    overflow-y: auto;
    transition: var(--duration);
    height: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    opacity: 0;

    &.show {
        height: 100%;
        transform: scaleY(1);
        opacity: 1;
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        cursor: pointer;
        border-radius: 10px;
        transition: var(--duration);
        color: var(--text-normal);
        padding: 0 20px;

        &.addUser {
            font-size: 1.4rem;
            justify-content: start;
            height: 58px;
            .icon {
                margin-right: 20px;
            }

            &.light {
                color: var(--text-grey);
    
                &:hover {
                    background-color: var(--light-gray) !important;
                    color: #000;
                }
            }
        }

        &.owner {
            display: block;

            .subTitle {
                font-size: 1.4rem;
            }
        }

        &:hover {
            background-color: var(--light-grey);
            color: #fff;
        }

        &.active {
            background-color: var(--light-grey);
            color: #fff;
        }

        &.light {
            color: var(--text-grey);

            &:hover {
                background-color: var(--light-gray);
                color: #000;
            }

            &.active {
                background-color: var(--light-gray);
                color: #000;
            }
        }

        .user-info {
            display: flex;
            align-items: center;

            .img {
                margin: 8px 10px 8px 0;
                width: 42px;
                height: 42px;
                border-radius: 999px;
            }

            .user-name {
                font-size: 1.4rem;

                &.active {
                    color: #fff;
                }

            }

        }

        .checkbox {
            display: flex;
            align-self: center;
            justify-content: center;
            position: relative;
            padding-right: 10px;
            cursor: pointer;
            font-size: 2rem;
            margin-bottom: 4px;


            .input-check {
                visibility: hidden;
            }

            .geekmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 16px;
                width: 16px;
                border: 1px solid #000;
                background-color: #fff;
                border-radius: 4px;
            }

            .geekmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            input:checked~.geekmark {
                background-color: var(--primary);
            }

            input:checked~.geekmark:after {
                display: block;
            }

            /* Styling the checkmark using webkit */
            .geekmark:after {
                left: 50%;
                transform: translateY(-50%);
                width: 4px;
                bottom: 4px;
                height: 12px;
                // border: solid var(--primary);
                border: solid #fff;
                border-width: 0 4px 4px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &.light {

                input:checked~.geekmark {
                    background-color: transparent;
                }

                /* Styling the checkmark using webkit */
                .geekmark:after {
                    border: solid var(--primary);
                    // border: solid #fff;
                    border-width: 0 4px 4px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

            }
        }

    }

    .tippyUserInRoom {
        background-color: #fff;
        color: #000;
        padding: 6px 30px 6px 10px;
        border-radius: 10px;
        opacity: 0.7;
        font-size: 1.4rem;
        box-shadow: 0 2px 6px #333;

        &:hover {
            background-color: var(--light-gray);
        }

        .icon {
            margin-right: 10px;
        }
    }

}