.wrapper {
    border-radius: 6px;
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--box-shadow-home-item);

    .box-icons,
    .box-create {
        padding: 25px;
    }

    .box-icons {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--grey-white);

        .icons {
            display: flex;
            align-items: center;

            .plus-icon {
                padding-right: 10px;
                font-size: 1.8rem;

                i {
                    transition: .15s;
                    transform: rotate(0);
                }

                &.active {

                    i {
                        transform: rotate(45deg);
                    }
                }
            }

            input {
                display: none;
            }

            span {
                padding-right: 10px;
                transition: .25s;
                width: var(--span-icon-width);
                visibility: visible;
                opacity: 1;
                cursor: pointer;

                i:last-child {
                    padding-right: 0;
                }

                i {
                    color: var(--grey);
                }

                &:hover {
                    i {
                        color: var(--icon-hover);
                    }
                }

                &:nth-child(2) {
                    &.hide {
                        transform: translateX(calc(-2 * var(--span-icon-width) + 15px));
                        visibility: hidden;
                        opacity: 0;
                    }
                }

                &:nth-child(3) {
                    &.hide {
                        transform: translateX(calc(-3 * var(--span-icon-width) + 15px));
                        visibility: hidden;
                        opacity: 0;
                    }
                }

                &:nth-child(4) {
                    &.hide {
                        transform: translateX(calc(-4 * var(--span-icon-width) + 15px));
                        visibility: hidden;
                        opacity: 0;
                    }
                }

                &:nth-child(5) {
                    &.hide {
                        transform: translateX(calc(-5 * var(--span-icon-width) + 15px));
                        visibility: hidden;
                        opacity: 0;
                    }
                }

            }
        }
    }

    .box-create {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;

        .input-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;

            textarea {
                border: none;
                outline: none;
                font-size: 1.6rem;
                resize: none;
                width: 100%;
                line-height: 1.5;
                margin-left: 30px;
                width: 90%;
                margin-right: 10px;
            }


        }

        .submit-btn {
            font-size: 1.6rem;
            color: var(--white);
            background-color: var(--pink);
            border-radius: 10px;
            padding: 15px 30px;
            cursor: pointer;
            transition: .15s;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: var(--btn-active-pink);
            }

            &.isLoading {
                cursor: no-drop;

                &:hover {
                    background-color: var(--pink);
                }
            }

            i {
                color: var(--active-grey);
                font-size: 3rem;
                position: absolute;
                animation: spin infinite 1s;
            }

            @keyframes spin {
                from {
                    transform: rotate(0);
                }

                to {
                    transform: rotate(360deg);
                }
            }
        }
    }

    .img-box {
        display: flex;
        margin: 0 55px;
        padding-bottom: 20px;
        overflow: auto;
        flex-wrap: wrap;

        .img {
            position: relative;
            width: 16%;
            height: 100px;
            margin: 0 10px;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }

            i {
                position: absolute;
                right: 8px;
                top: 8px;
                font-size: 1.2rem;
                color: var(--content-post-grey);
                cursor: pointer;
                padding: 5px 5.5px;
                transition: .15s;
                border-radius: 50%;
                background-color: rgba(224, 224, 224, .5);

                &:hover {
                    color: var(--icon-hover);
                }
            }
        }
    }
}

.loadding {
    position: absolute;
    animation: spin infinite 1s;
    // top: 50%;
    // transform: translateY(-50%);
    top: 0;

    i {
        color: var(--content-post-grey);
        font-size: 3rem;
    }

    @keyframes spin {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }
}