@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@500;600;800;900&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color-light: #F4F7FC;
    --white: #fff;
    --main-color-night: #190A33;
    --grey: #a3abb5;
    --grey-light: #f0f2f5;
    --grey-white: #eceff3;
    --active-grey: #555;
    --content-post-grey: #818e93;
    --pink: #D988B9;
    --nav-active-pink: rgba(217, 136, 185, .15);
    --width-right-side-max: 28%;
    --width-right-side-min: 18%;
    --green-active: #31a24c;
    --span-icon-width: 26px;
    --icon-hover: #333;
    --btn-active-pink: #de4fa2;
    --box-shadow-home-item: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --bgc-confirm-box: rgba(161, 160, 160, 0.2);
    --bgc-grey: #e8e8e8;
    --bgc-grey-active: #c0c0c0;
    --brrdus: 30px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", "Inter", sans-serif;
}

input {
    outline: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
}

.tippy-box {
    background-color: #444;
}

.tippy-arrow {
    color: #444;
}

.tippy-content {
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 8px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}