.wrapper {
    width: 100vw;
    height: 100vh;
    // background: url('~/assets/images/cute-cat.avif') 400px fixed;
    // background: rgb(250, 203, 234);
    background: linear-gradient(225deg, rgba(250, 203, 234, 1) 0%, rgba(217, 136, 185, 1) 63%, rgba(176, 87, 141, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik";

    .container {
        width: 860px;
        height: 500px;
        background-color: #fff1ea;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        font-size: 1.6rem;
        position: relative;
        display: flex;

        .login-form {
            padding: 70px 40px;
            position: relative;
            z-index: 2;
            flex: 1;

            .title {
                display: block;
                font-size: 3.6rem;
            }

            label {
                display: block;

                input {
                    border: none;
                    outline: none;
                    font-size: 1.8rem;
                    padding: 14px 16px;
                    border-radius: 20px;
                    background-color: var(--main-color-light);
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    width: 100%;
                    background-color: transparent;
                    font-family: "Rubik";

                }
            }

            .username {
                margin: 40px 0 26px 0;
            }

            .btn-box {
                display: flex;
                width: 100%;
                justify-content: center;

                .login-btn {
                    margin-top: 40px;
                    font-size: 1.8rem;
                    color: var(--white);
                    background-color: var(--pink);
                    border-radius: 10px;
                    padding: 12px 26px;
                    transition: .15s;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;


                    &:hover {
                        background-color: var(--btn-active-pink);
                    }
                }
            }

        }

        .image-box {
            width: 54%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
            }
        }

        .img-login {
            position: absolute;
            top: -80px;
            z-index: 1;

            img {
                width: 160px;
            }
        }
    }
}