.wrapper {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding: 12px 0 12px 8px;
    border-radius: 8px;
    transition: var(--duration);
    font-size: 1.5rem;

    &:hover {
        background-color: var(--light-grey);
    }

    &.light {
        &:hover {
            background-color: var(--light-gray);
        }
    }

    .leftIcon {
        padding-right: 12px;
    }

    .rightIcon {
        margin-right: 16px;
        transform: rotate(0);
        transition: var(--duration);

        &.open {
            transform: rotate(90deg);
        }
    }
}