.wrapper {
    position: relative;
    z-index: 10;

    &.small {
        width: 38px;
        height: 38px;

        .mainImg {
            border-radius: 10px;
        }
    }

    &.middle {
        width: 140px;
        height: 140px;

        .mainImg {
            border-radius: 10px;
        }
    }

    &.circle {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border: 4px solid var(--pink);

        border-radius: 50%;

        .mainImg {
            width: 40px;
            height: 40px;
            padding: .1px;
        }

        &.viewed {
            border-color: #f1ebeb;
        }
    }

    .box {
        .mainImg {
            width: 100%;
            height: 100%;
        }

        .sub-box {
            position: absolute;

            .subImg {}
        }
    }

    .active {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 4px;
        right: -6px;
        background-color: var(--green-active);
    }
}